Graphia.egg-info/
data/
logs_deg/
prompts/
reports/
results/
saved_models/
# saved_models_deg/
# saved_results_deg/
*.pyc

__pycache__/
baselines/
lp_models/
Graphia_data/
Graphia_baselines/
Graphia/scripts_local/
Graphia/scripts/transfer_to_latex.py
Graphia/scripts/transfer_to_latex_dst.py
Graphia/scripts/transfer_to_latex_dst_concise.py
Graphia/shuffle_edge.py
Graphia/ec_models/
Graphia/logs/
gnn_cawn/
gnn_dygformer/
gnn_mixer/
gnn_tgn/
logs/
saved_results_deg/
Graphia/saved_models_deg/
saved_models_deg/
Graphia/final_process_merged_matrices.py
Graphia/evaluate_node_retrieval_2.py
Graphia/compare_eval_llm_results.py